@charset 'UTF-8';

/*
#overview
見出し
*/

/*
#styleguide
見出しレベル1

```
<div class="c-hdg-lv1">
  <h1 class="c-hdg-lv1__txt">見出しレベル1テキスト</h1>
</div><!-- /.c-hdg-lv1 -->
```
*/

.c-hdg-lv1 {
  margin-bottom: 46px;
  padding: 34px 0;
  background: $color-base;

  &__inner {
    @include contentWidth();
  }
  &__txt {
    font-size: 2.7rem;
    line-height: 1.2;
  }
}


/*
#styleguide
見出しレベル2

```
<div class="c-hdg-lv2">
  <h2 class="c-hdg-lv2__txt">見出しレベル2テキスト</h2>
</div><!-- /.c-hdg-lv2 -->
```
*/

.c-hdg-lv2 {
  font-size: 2.4rem;
  line-height: 1.2;

  @include breakPoint(overTablet) {
    margin: 32px 0 12px;
  }
  @include breakPoint(onlySP) {
    margin: 26px 0 12px;
  }
}


/*
#styleguide
見出しレベル3

```
<div class="c-hdg-lv3">
  <h3 class="c-hdg-lv3__txt">見出しレベル3テキスト</h3>
</div><!-- /.c-hdg-lv3 -->
```
*/

.c-hdg-lv3 {
  font-size: 2.2rem;
  line-height: 1.2;

  @include breakPoint(overTablet) {
    margin: 26px 0 12px;
  }
  @include breakPoint(onlySP) {
    margin: 20px 0 12px;
  }
}


/*
#styleguide
見出しレベル4

```
<div class="c-hdg-lv4">
  <h4 class="c-hdg-lv4__txt">見出しレベル4テキスト</h4>
</div><!-- /.c-hdg-lv4 -->
```
*/

.c-hdg-lv4 {
  font-size: 2rem;
  line-height: 1.3;

  @include breakPoint(overTablet) {
    margin: 22px 0 12px;
  }
  @include breakPoint(onlySP) {
    margin: 22px 0 12px;
  }
}


/*
#styleguide
見出しレベル5

```
<div class="c-hdg-lv5">
  <h5 class="c-hdg-lv5__txt">見出しレベル5テキスト</h5>
</div><!-- /.c-hdg-lv5 -->
```
*/

.c-hdg-lv5 {
  font-size: 1.8rem;
  line-height: 1.4;

  @include breakPoint(overTablet) {
    margin: 22px 0 12px;
  }
  @include breakPoint(onlySP) {
    margin: 22px 0 12px;
  }
}
